* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Spline Sans Mono', monospace;
}

.aqui img {
    filter: invert(100%);
}
#up img{
    width: 30px;
    height: 30px;
}

#up {
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 1;
    width: 20px;

}

body {
    margin: auto;
    background-image: url(resources/fondo\ HTML\ infinito.png);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: hsl(29, 17%, 41%);
}

header h1 {
    font-size: 30px;
    display: flex;
    align-items: center;
}

main {
    flex: 1;
}

footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: hsl(29, 17%, 41%);
    text-align: center;
    width: 100%;
}

footer ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 90vw;
}


footer img {

    height: 50px;
    width: 50px;
}

#logoLink a img {
    display: flex;
    height: 60px;
    width: 60px;
    size: 100%;
}

#logoLink {
    display: flex;
}

#logoLink {
    display: flex;
}

/* TODO: INDEX*/
#welcome {
    text-align: center;
    margin: 20px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.7);
}

#welcome img {
    width: 65%;
    height: 65%;
    text-align: center;
    justify-content: end;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 40px;
}

#welcome div {
    text-align: justify;
    font-weight: B00;
}

#welcome div h1 {
    font-size: 30px;
    text-align: center;
}

#welcome div p {
    padding: 55px;
}

#semana {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin: 20px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px;
}

#recetaSemana a img {
    width: 65%;
    height: 65%;
    text-align: center;
    justify-content: end;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 40px;
}

#recetaSemana p {
    padding-top: 20px;
    text-align: center;
}

#recetaSemana h1 {
    font-size: 30px;
    text-align: center;
}



@media (max-width: 500px) {

    /*TODO: INDEX*/
    header h1 {
        font-size: 15px;

    }

    #logoLink a img {
        height: 30px;
        width: 30px;
    }

    #logoLink {
        display: flex;
    }

    #navMenu #main img {
        height: 30px;
        width: 30px;
    }

    #navMenu #recetas img {
        height: 30px;
        width: 30px;
    }

    #welcome {
        display: flex;
        text-align: center;
        padding: 20px;
        background-color: hsl(29, 17%, 41%, 0.5);
    }
    #welcome img{
        width: 50%;
        height: 50%;
        text-align: center;
    }



    /* TODO: RECETAS*/

    /* #navMenu #usuario img {
        height: 30px;
        width: 30px;
    } */

}
/* TODO: RECETAS*/

/* #navMenu #usuario img {
    height: 30px;
    width: 30px;
} */
.meGustaButton{
    display: flex;
    background-color: hsl(29, 17%, 41%); /* Color de fondo */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Relleno interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
}
.noMeGustaButton{
    display: flex;
    background-color: hsl(29, 17%, 41%); /* Color de fondo */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Relleno interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
}
@media (min-width: 501px) {
    #navMenu {
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 20vw;
    }

    #navMenu #main img {
        height: 60px;
        width: 60px;
    }

    #navMenu #recetas img {
        height: 60px;
        width: 60px;
    }

    /* #navMenu #usuario img {
        height: 50px;
        width: 50px;
    } */
}