* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


#logoLink a img {
    display: flex;
    height: 60px;
    width: 60px;
    size: 100%;
}

/*2effd327ae009acbc835cf41928f48cceeddde47*/

#logoLink {
    display: flex;
}

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: hsl(29, 17%, 41%);
}

header h1 {
    font-size: 20px;
    display: flex;
    align-items: center;


}

#navMenu {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20vw;
}

#navMenu #main img {
    height: 60px;
    width: 60px;
}

#navMenu #recetas img {
    height: 60px;
    width: 60px;
}

#navMenu #usuario img {
    height: 50px;
    width: 50px;
}
#busqtipo button {
    
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 100%;
    
    
}
#busqtipo button img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}
#busqtipo button:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Cambia el color de fondo al hacer hover */
}








@media (max-width: 480px) {
    #logoLink a img {
        height: 30px;
        width: 30px;
    
    }
    


    #logoLink {
        display: flex;

    }

    header h1 {
        font-size: 10px !important;

    }

    #navMenu #main img {
        height: 30px;
        width: 30px;
    }

    #navMenu #recetas img {
        height: 30px;
        width: 30px;
    }

    #navMenu #usuario img {
        height: 25px;
        width: 25px;
    }
}



body {
    margin: auto;
    background-image: url(resources/fondo\ HTML\ infinito.png);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



#logSignInfo {
    display: flex;
    margin: auto;
    margin-top: 40px;
    width: 50vW;
    /*window view, se calcula en % */
    align-items: center;
    justify-content: center;
    background-color: hsl(29, 17%, 41%, 0.6);
    flex-direction: column;
    border-radius: 10px;




    /*
>>>>>>> 2effd327ae009acbc835cf41928f48cceeddde47*/
}

#signInfo {
    display: none;
}

#logInButton {
    border-radius: 5px;

}

#signInButton {
    border-radius: 5px
}

#logSignButtons {
    padding: 20px;
    margin-right: 20px;
    margin: auto;
}

/* >>>>>>> 2effd327ae009acbc835cf41928f48cceeddde47 */

#send {
    padding: 20px;
}


footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: hsl(29, 17%, 41%);
    text-align: center;
    width: 100%;
    background-color: hsl(29, 17%, 41%);

}

footer ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 90vw;
}


footer img {

    height: 50px;
    width: 50px;
}

/*footer li {
    display: flex;
    margin: 0 10px;  Espacio entre cada ícono 
}*/

#logoLink a img {
    display: flex;
    height: 60px;
    width: 60px;
    size: 100%;
}

#logoLink {
    display: flex;
}

header h1 {
    font-size: 20px;
    display: flex;
    align-items: center;

}

/* >>>>>>> 2effd327ae009acbc835cf41928f48cceeddde47 */

main {
    flex: 1;
}